/* CSS Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

.header1 .navbar {
    width: 100%;
    margin: 0px 0px 0px 120px;
    height: 30px;
    background-color: aqua;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.header1 .navbar .menu_item{
    background-color: red;
    height: 30px;
    list-style: none;
    width: 650px;
}

.header1 .navbar .menu_item2{
    background-color: yellow;
    list-style: none;
    height: 30px;
    width: 600px;
}

.header1 .navbar .menu_item3{
    background-color: green;
    list-style: none;
    height: 30px;
    width: 600px;
}
.header2{
    display: flex;
}
